.appContainer{
   background-color: burlywood;
   
   display: flex;
   flex-direction: column;
   padding: 2em 3em 10em 5em;
   
}
.appContainer h1 {
    color: rgb(2, 68, 2);  
    
   text-align: center;
}
.errorMessage {
  border: 3px solid red;
  padding: 1rem;
  margin: 1rem 0 0.5rem;
  background-color: #ffe5e5;
  border-radius: 8px;
}